# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcbkptlist

# Xcode build artifacts
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
